.welcome {
  font-size: 5em;
  font-weight: 700;
  color: crimson;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  -webkit-mask-image: url("./assets/grit.png");
  mask-image: url("./assets/grit.png");
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}