/* CSS for components */
.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Main grid container */
.container {
  display: grid;
  grid-template-columns: 15% 15% 1fr 15% 15%;
  grid-template-rows: 90px 1fr 90px;

  background-color: blueviolet;
}

/* CSS for Welcome component */
.welcome {
  font-size: 4em;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: crimson;

  -webkit-mask-image: url("./assets/grit.png");
  mask-image: url("./assets/grit.png");

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

/* CSS for Instructions component */
.startTitle {
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
}
.qoute {
  font-style: italic;
}
.startTitle > h2 {
  text-decoration: underline;
}
.instruction {
  margin: 10px 10% 20px;
}

/* CSS for start button */
.center {
  align-self: center;
  justify-self: center;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
}

/* CSS for the start button */
.start {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black, 0 0 40px yellow, 0 0 5px goldenrod;
  color: crimson;

  background-color: cornflowerblue;

  border: 1px solid darkblue;
  border-radius: 25px;
  box-shadow: 2px 2px 6px white;

  padding: 0.4em 0.8em;
  width: 300px;

  cursor: pointer;
  transition-duration: 0.4s;
}
.start:hover {
  background-color: cyan;
}
.start:active {
  box-shadow: 0 0px 6px white;
  transform: translateY(4px);
}

/* CSS for the question */
.questionBox {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
}
.questionGrid {
  display: grid;
  grid-template-columns: 15% 15% 1fr 15% 15%;
  grid-template-rows: 90px 90px 90px 90px 90px;

  background-color: brown;
}
.question {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding-bottom: 30px;
  
  align-self: center;
  justify-self: center;
  
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

/* CSS for the answer button */
.answer {
  padding: 10px;
  font-size: 1.25em;
  height: 80px;
  width: 300px;
  border: 1px solid darkblue;
  border-radius: 15px;
  box-shadow: 2px 2px 4px white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.answer:hover {
  background-color:chocolate;
}
.answer:active {
  box-shadow: 0 0px 6px white;
  transform: translateY(4px);
}

/* CSS to place the answer buttons */
.r1c2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}
.r1c4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
}
.r2c2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}
.r2c4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
}
.r3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
}
.r4c2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
}
.r4c4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
}

.right {
  background-color:darkgreen;
}
.wrong {
background-color: crimson;
}

/* CSS for previous/next */
.previous, .next {
  padding: 10px;
  font-size: 1.25em;
  height: 40px;
  width: 150px;
  border: 1px solid darkblue;
  border-radius: 15px;
  box-shadow: 2px 2px 4px white;
  cursor: pointer;
  transition-duration: 0.4s;
}